<div class="card feather-restart">
  <div class="card-header">
    @if (canChangeLevel()) {
      <div class="card-button-group">
        <button
          mat-icon-button
          (click)="changeLevelBy(-1)">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="changeLevelBy(-5)">
          <mat-icon>keyboard_double_arrow_left</mat-icon>
        </button>
      </div>
    }

    <div class="card-name">
      Lv {{ talent().level }}
      @if (totalShinyFeathers()) {
        ({{ totalShinyFeathers() }})
      }
    </div>

    @if (canChangeLevel()) {
      <div class="card-button-group">
        <button
          mat-icon-button
          (click)="changeLevelBy(5)">
          <mat-icon>keyboard_double_arrow_right</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="changeLevelBy(1)">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    }
  </div>
  <div class="card-cost">Cost: {{ talent().cost }}</div>
  <div class="card-duration">
    To next level: {{ talent().duration | duration }}
  </div>
</div>
