@if (computedStatus(); as status) {
  <div class="talent-cards">
    <!-- row 1 -->
    <!-- <div class="card-row"> -->
    <talent-card
      backgroundUrl="img/feather_generation_card.jpg"
      [talent]="status.talentSet.featherGeneration" />
    <talent-card
      backgroundUrl="img/bonuses_of_orion_card.jpg"
      [talent]="status.talentSet.bonusesOfOrion" />
    <talent-card
      backgroundUrl="img/feather_multiplier_card.jpg"
      [talent]="status.talentSet.featherMultiplier" />
    <!-- </div> -->
    <!-- row 2 -->
    <!-- <div class="card-row"> -->
    <talent-card
      backgroundUrl="img/feather_cheapener_card.jpg"
      [talent]="status.talentSet.featherCheapener" />
    <talent-card
      backgroundUrl="img/feather_restart_card.jpg"
      [talent]="status.talentSet.featherRestart"
      [canChangeLevel]="true"
      (levelChange)="featherRestartLevel.set($event)" />
    <talent-card
      backgroundUrl="img/super_feather_production_card.jpg"
      [talent]="status.talentSet.superFeatherProduction" />
    <!-- </div> -->
    <!-- row 3 -->
    <!-- <div class="card-row"> -->
    <talent-card
      backgroundUrl="img/shiny_feathers_card.jpg"
      [talent]="status.talentSet.shinyFeathers"
      [totalShinyFeathers]="status.totalShinyFeathers" />
    <talent-card
      backgroundUrl="img/super_feather_cheapener_card.jpg"
      [talent]="status.talentSet.superFeatherCheapener" />
    <talent-card
      backgroundUrl="img/the_great_mega_reset_card.jpg"
      [talent]="status.talentSet.theGreatMegaReset" />
    <!-- </div> -->
  </div>

  <div class="feathers-per-second">
    Feathers/s: {{ status.feathersPerSecond }}
  </div>
}
