:host {
  display: block;
  background-color: #4a352f;
  width: 100%;
  min-height: 100%;

  .container {
    max-width: 900px;
    width: 100%;
    padding: 3rem 1rem;
    margin: 0 auto;
    border-radius: 1rem;
    box-sizing: border-box;
  }
}
