:host {
  display: block;
  background-color: #4a352f;
  min-height: 100%;

  .navbar {
    display: flex;
    height: 3rem;
    width: 100%;
    background-color: #340100;
  }

  .navbar-item {
    color: #fff;
    text-decoration: none;
    display: block;
    line-height: 3rem;
    height: 3rem;
    width: fit-content;
    padding: 0 1rem;
  }
  .navbar-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
